html {
  font-size: 10px;
}
body {
  margin: 0;
  max-width: 1440px;
  font-family: 'Montserrat', 'Lucida Sans', Arial, sans-serif;
}
h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.6rem;
}

section {
  margin: 0;
}
