@import './normalize';
@import './vars';
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 380px;
  width: 100%;
  color: #ffffff;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(255, 255, 255, 0.4)),
      color-stop(40%, rgba(142, 146, 191, 0.696203)),
      color-stop(70%, rgba(74, 81, 153, 0.873642)),
      to(#1a237e)
    ),
    url(../images/backwater.jpg);
}

.user-menu {
  height: 35px;
  background-color: $mainColor;
}

.products {
  height: 350px;
  padding: 20px;
  color: #ffffff;
  background-color: $mainColor;
}

.logo {
  font-family: Merriweather;
  font-size: 4rem;
}
