@mixin h1($color: $white) {
  font-size: 4rem;
  color: $color;
  font-family: $mainFont;
  margin-bottom: 1.4rem;

  @media ($tablet) {
    font-size: 3.4rem;
    margin-bottom: 1rem;
  }
}

@mixin h2($color: $black) {
  font-size: 3rem;
  color: $color;
  font-family: $mainFont;
  margin-bottom: 1.2rem;

  @media ($tablet) {
    font-size: 2.8rem;
    margin-bottom: 1rem;
  }
}

@mixin h3($color: $black) {
  font-size: 2.0rem;
  color: $color;
  font-family: $mainFont;
  margin-bottom: 1rem;

  @media ($tablet) {
    font-size: 2.2rem;
    margin-bottom: 1rem;
  }
}

@mixin menuLink($color: $white) {
  font-size: 1.3rem;
  color: $color;  
  text-decoration: none;
}
@mixin menuText($color: $white) {
  font-size: 1.3rem;
  color: $color;  
}

@mixin logo_title($color: $white) {
  font-size: 4.8rem;
  color: $color;
  font-family: $logoFont;
  text-transform: uppercase;
}

@mixin logo_text($color: $white) {
  font-size: 1.8rem;
  color: $color;
  font-family: $logoTextFont;
  text-transform: uppercase;
}
