//colors
$darkBackground: #1a237e;
$grayBackground: #f5f5f5;
$white: #fff;

// font
$mainFont: Montseratt, Arial, sans-serif;

//screens
$tablet: 'min-width: 767px';
$desktop: 'min-width: 1024px';
$projector: 'min-width: 1200px';
