//colors
$darkBackground: #1a237e;
$grayBackground: #f5f5f5;
$white: #fff;
$black: #000;
$aqua: #4eb7fd;
$yellow: #ffdd00;

// font
$mainFont: Montserrat, Arial, sans-serif;
$logoFont: Merriweather, Arial, sans-serif;
$logoTextFont: Roboto, Arial, sans-serif;

//screens
$phoneX: 'min-width: 450px';
$tablet: 'min-width: 768px';
$desktop: 'min-width: 992px';
$projector: 'min-width: 1200px';
