.product {
  width: 100%;
  // height: 376px;
  max-width: 190px;
  position: relative;
  margin-top: 210px;
  padding: 160 1 1;
  border: 1px solid $cyan;
  border-radius: 5px;

  @media ($phoneX) {
    width: 46%;
  }
  @media ($tablet) {
    width: 30%;
  }
  @media ($desktop) {
    width: 24%;
  }
  
  @media ($projector) {
    width: 16%;
  }

  &__img {
    width: 160;
    height: 302;
    position: absolute;
    bottom: 130px;
    left: 10px;
    z-index: 2;
    width: calc(100% - 20px);
    cursor: pointer;
  }

  &__title {
    font-size: 1.6rem;
    font-weight: 500;
    text-align: center;
    color: $yellow;
  }

  &__desc {
    font-size: 1rem;
    color: $white;
    text-align: center;
    padding-bottom: 15px;
  }

  &__footer {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 38px;
    margin: 5px 0 0;
    padding: 0 5px;
    background-color: $yellow;
    border-radius: 4px;
    
      a {
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 0 5px;
        border-radius: 10%;
      }
  
      a:hover {
        text-decoration: none;
        background-color: #ccc;
      }
  
      input {
        display: inline-block;
        border-radius: 100%;
        width: 22px;
        text-align: center;
        border: none;
        height: 22px;
        background-color: $white;
        color: $black;
        font-weight: 700;
        font-size: 1.6rem;
      }
  
      input:active, :hover, :focus {
        outline: 0 !important;
        outline-offset: 0 !important;
      }

    
    
      
  }

  &__img:hover {
    height: 332;
    position: absolute;
    bottom: 132px;
    left: 5px;
    z-index: 2;
    width: calc(100% - 10px);
    transition: all 0.2s ease-out 0.1s;
  }
  
  &__cost {
    font-size: 1.8rem;
    font-weight: 600;
    padding-left: 10px;
  }

  &__cost::after {
    font-family: "Font Awesome 5 Free"; 
    // content: "\f099";
  }

  &__buy {
    width: 24px;
    height: 24px;
    background: url('../images/icons/add-to-cart.png') no-repeat;
    background-size: contain;
    margin-right: 10px;   
  }    
}