.main-menu {
  @include mainMenu;
  display: none;

  @media($tablet) {
    display: block;
  }@media($desktop) {
    display: block;
  }
}

.nav-toggle {
  display: block;

  @media($tablet) {
    display: none;
  }@media($desktop) {
    display: none;
  }
}