.top-menu {
  @include menuText;
  background-color: $darkBackground;
}
.auth-block {
  display: flex;
  flex-direction: row-reverse;

  & ul {
    list-style: none;
    padding: 5px;  
  }

  & ul li {
    display: inline;
  }

  & ul li a {
    @include menuLink;
  }

  & ul li a:hover{
    @include menuLink;
    text-decoration: underline;
  }
}
