.header {
  height: 600px;
  width: 100%;
  color: #ffffff;
  position: relative;
  background: linear-gradient(180deg, #2C6DCB 38.11%, rgba(44, 109, 203, 0) 151.89%);
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
}
