.header {
  height: 600px;
  width: 100%;
  color: #ffffff;
  position: relative;
  background: linear-gradient(180deg, #2C6DCB 38.11%, rgba(44, 109, 203, 0) 151.89%);
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
  }
}

.header-top-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 33px 0;
}

.waves-dark {
  position: absolute;
  bottom: -72px;
  width: 100%;
  height: 273px;
  background: url("../images/waves-dark.png") no-repeat;
  background-size: cover;
  background-position: bottom;
}
.waves-light {
  position: absolute;
  bottom: -72px;
  width: 100%;
  height: 296px;
  background: url("../images/waves-light.png") no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: -100;
}