@import './utils';
@import './components';
@import './layout';



.container {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
  @include h1
}

h2 {
  @include h2
}



.products {
  background-color: $darkBackground;
  height: 400px;
}